.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.815)), url("../images/News-Banner-Image.png");
    /* Position and center the image to scale nicely on all screens */
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper {
    text-align: center;
}